Repository emingambarli/microfrontend-kubernetes: changes, and which Jenkins stages are due for each by the changed paths.
All: Build Docker images for web-app-blogs, Build Docker images for web-app-header, Build Docker images for web-container

Jenkinsfile:

pipeline {
    agent any

    enviroment {
        VERSION = "${env.BUILD_ID}"
    }

    stages {
        stage("Build Docker images for web-app-blogs") {
            when { changeset "web-app-blogs/*"}
            steps {
                dir{}
                script{
                    withCredentials([string(credentialsId: '0f1b5bc0-aed9-4215-8fe8-052c12ee790f', variable: 'nexus_ip')]) { 
                        withCredentials([usernamePassword(credentialsId: '69aab20e-345b-4e1e-a96f-17a3a5d3e2a6', passwordVariable: 'nexuspass', usernameVariable: 'nexususer')]) {
                            sh '''
                            docker build -t $nexus_ip:8503/web-app-blogs:$VERSION .

                            docker login -u $nexususer -p $nexuspass $nexus_ip:8503

                            docker push $nexus_ip:8503/web-app-blogs:$VERSION

                            docker rmi $nexus_ip:8503/web-app-blogs:$VERSION
                            '''
                        }
                    }
                }
            }
        }

        stage("Build Docker images for web-app-header") {
            when { changeset "web-app-header/*"}
            steps {
                dir{}
                script{
                    withCredentials([string(credentialsId: '0f1b5bc0-aed9-4215-8fe8-052c12ee790f', variable: 'nexus_ip')]) { 
                        withCredentials([usernamePassword(credentialsId: '69aab20e-345b-4e1e-a96f-17a3a5d3e2a6', passwordVariable: 'nexuspass', usernameVariable: 'nexususer')]) {
                            sh '''
                            docker build -t $nexus_ip:8503/web-app-header:$VERSION .

                            docker login -u $nexususer -p $nexuspass $nexus_ip:8503

                            docker push $nexus_ip:8503/web-app-header:$VERSION

                            docker rmi $nexus_ip:8503/web-app-header:$VERSION
                            '''
                        }
                    }
                }
            }
        }

        stage("Build Docker images for web-container") {
            when { changeset "web-container/*"}
            steps {
                dir{}
                script{
                    withCredentials([string(credentialsId: '0f1b5bc0-aed9-4215-8fe8-052c12ee790f', variable: 'nexus_ip')]) { 
                        withCredentials([usernamePassword(credentialsId: '69aab20e-345b-4e1e-a96f-17a3a5d3e2a6', passwordVariable: 'nexuspass', usernameVariable: 'nexususer')]) {
                            sh '''
                            docker build -t $nexus_ip:8503/web-container:$VERSION .

                            docker login -u $nexususer -p $nexuspass $nexus_ip:8503

                            docker push $nexus_ip:8503/web-container:$VERSION

                            docker rmi $nexus_ip:8503/web-container:$VERSION
                            '''
                        }
                    }
                }
            }
        }

    }
}

add Jenkinsfile test3
  Jenkinsfile
Due: none

add Jenkinsfile
  Jenkinsfile
Due: none

add Jenkinsfile
  Jenkinsfile-whenstyle
Due: none

add Jenkinsfile
  Jenkinsfile
  Jenkinsfile-whenstyle
Due: none

add Jenkinsfile
  web-app-blogs/Dockerfile
Due: Build Docker images for web-app-blogs

add Jenkinsfile
  web-app-header/Dockerfile
  web-container/Dockerfile
Due: Build Docker images for web-app-header, Build Docker images for web-container

first kube steps
  .gitignore
  Jenkinsfile
Due: none

first kube steps
  web-container/package.json
Due: Build Docker images for web-container

first kube steps
  Jenkinsfile
  web-container/package.json
Due: Build Docker images for web-container

kubealdatdi meni
  Jenkinsfile
  web-app-blogs/package.json
  web-app-header/package.json
  web-container/package.json
Due: Build Docker images for web-app-blogs, Build Docker images for web-app-header, Build Docker images for web-container

kubealdatdi meni
  Jenkinsfile
  web-app-header/package.json
Due: Build Docker images for web-app-header

kubeeee
  web-container/package.json
Due: Build Docker images for web-container

latest
  Jenkinsfile
  web-container/.env
Due: Build Docker images for web-container

latest
  Jenkinsfile
Due: none

latest
  web-container/.env
Due: Build Docker images for web-container

latest
  Jenkinsfile
  web-container/Dockerfile
Due: Build Docker images for web-container

kubeconfig
  kubernetes/web-app-blogs/deloyment.yaml
  kubernetes/web-app-header/deployment.yaml
  kubernetes/web-container/deployment.yaml
Due: none

kubeconfig
  kubernetes/web-app-blogs/deployment.yaml
  kubernetes/web-app-header/deployment.yaml
  kubernetes/web-container/deployment.yaml
Due: none

kubeconfig
  kubernetes/web-container/deployment.yaml
Due: none

kubeconfig
  kubernetes/web-app-blogs/deployment.yaml
  kubernetes/web-app-header/deployment.yaml
Due: none

kubeconfig
  kubernetes/web-app-header/deployment.yaml
Due: none

kubeconfig
  web-container/.env
Due: Build Docker images for web-container
